@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, #root, .App {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #9BACBA;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 6vh;
  padding: 1rem 2rem;
}

.header h1 {
  color: #e6e6e6e;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0;
  font-weight: 100;
}

.header h1 span{
  margin: 0 1rem;
}

.main {
  background-color: #cecece;
  justify-content: center;
  display: flex;
  flex: 1 1 84vh;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.footer {
  background-color: #15283D;
  color: #84A5CC;
  flex: 0 0 10vh;
  padding: 1rem 1rem;
}

.footer div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.sort {
  display:flex;
  justify-content: flex-end;
  align-items: baseline;
  border: 1px solid #15283D;
  border-radius: 5px;
  color: #dedede;
  padding: 0.5em 1em 0.5em 1.5em;
  font-size: 1rem;
}

.sort span {
  font-size: 0.6rem ;
  text-transform: uppercase;
  color: #15283D;
}

.sort span.sort-icons {
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid #15283D;
  border-radius: 5px;
  padding: 0 0.3rem;
}

.sort span.sort-icons--active {
  font-size: 1.5rem;
  border: 1px solid #15283D;
  border-radius: 5px;
  padding: 0 0.3rem;
  box-shadow: inset 2px 2px 5px #15283D;
}

.sort button {
  padding: 0;
  border: 0;
  background: none;
  margin: 0 0.5rem;
  outline: none;
}

.sort button span {
  margin: 0;
}

select {
  appearance: none;
  background: none;
  border: none;
  color: #C6DBED;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  margin: 0 0.5em;
}

.limit-select, .page-select {
  background-color: #2C537F;
  color: #84A5CC;
  padding: 0.35em;
  font-size: 1em;
}

.footer div.pagination {
  font-size: 1.75rem;
}

.footer div.pagination button {
  padding: 0;
  border: 0;
  background: none;
  margin: 0 0.5rem;
  outline: none;
}

.pager-icons {
  font-size: 2.5rem;
  cursor: pointer;
  border: 1px solid #2C537F;
  color: #2C537F;
  border-radius: 5px;
  padding: 0 0.3em;
}

button:disabled .pager-icons {
  color: #15283D;
  cursor: default;
}

.footer div.records-control {
  align-items: center;
  font-size: 0.75rem;
  justify-content: flex-start;
}

.footer div.records-control div {
  margin: 0.5rem 0;
}

.list-item {
  display: flex;
  width: 350px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ececec;
  color: #003366;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 7px #9BACBA;
}

.list-item__avatar {
  border-radius: 50%;
  width: 20%;
}

.list-item__lockup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list-item__name {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 1rem 0.25rem;
}

.list-item__address {
  margin: 0.25rem 1rem;
  color: #336699;
}

.list-item__balance {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  margin: 1rem auto 0.5rem;
  border-top: 2px solid #9BACBA;
  border-bottom: 2px solid #9BACBA;
  border-radius: 5px;
  background-color: #DEE7EF;
}

.list-item__balance h4{
  color: #627894;
  margin: 0.75rem auto 0.5rem;
  text-transform: uppercase;
}

.list-item__balance h4 span{
  color: #15283D;
}

.list-item__created {
  color: #9BACBA;
  font-size: 0.7rem;
  margin: 0.25rem 0;
  text-align: right;
  flex-grow: 1;
}

@media screen and (max-width: 750px) {
  .list-item {
    width: 90%;
    min-width: 325px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: block;
  }

  .sort {
    margin: 1rem 0;
    padding: 0.5rem;
  }

  .footer {
    display: block;
  }

  .footer .records-control {
    margin-top: 1.5rem;
  }

  .footer div.pagination {
    font-size: 1rem;
  }

  .pager-icons {
    font-size: 1.5rem;
  }
}
