html, body, #root, .App {
  height: 100%;
}

#list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #9CAAC6;
  flex: 0 0 5vh;
  padding: 1rem 2rem;
}

.header h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
}

.header h1 span{
  margin: 0 1rem;
}

.main {
  background-color: #DEE7EF;
  justify-content: center;
  display: flex;
  flex: 1 1 85vh;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.footer {
  background-color: #0C2C52;
  color: #9CAAC6;
  flex: 0 0 10vh;
  padding: 1rem 2rem;
}

.footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem;
}

.sort {
  display:flex;
  justify-content: flex-end;
  align-items: baseline;
  border: 1px solid #0C2C52;
  border-radius: 5px;
  color: #dedede;
  padding: 0.5em 0.5rem 0.5rem 1rem;
  font-size: 1rem;
}

.sort span {
  font-size: 0.6rem ;
  text-transform: uppercase;
  color: #0C2C52;
  margin-right: 0.5rem;
  color: #0C2C52;
}

.sort span.sort-icons {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.15rem 0.3rem;
}

.sort span.sort-icons--active {
  font-size: 1.5rem;
  border: 1px solid #0C2C52;
  border-radius: 5px;
  padding: 0.15rem 0.3rem;
  box-shadow: inset 2px 2px 5px #0C2C52;
}

.sort button {
  padding: 0;
  border: 0;
  background: none;
  margin: 0 0.5rem;
  outline: none;
}

.sort button span {
  margin: 0;
}

.sort select {
  appearance: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  text-align: right;
  margin-right: 1rem;
}

.list-item {
  display: flex;
  width: 325px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ececec;
  color: #003366;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 7px #9CAAC6;
}

.list-item__avatar {
  border-radius: 25%;
}

.list-item__lockup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list-item__name {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 1rem 0.25rem;
}

.list-item__address {
  margin: 0.25rem 1rem;
  color: #336699;
}

.list-item__balance {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  margin: 1rem auto 0.5rem;
  border-top: 2px solid #9CAAC6;
  border-bottom: 2px solid #9CAAC6;
  border-radius: 5px;
  background-color: #DEE7EF;
}

.list-item__balance h4{
  color: #627894;
  margin: 0.75rem auto 0.5rem;
  text-transform: uppercase;
}

.list-item__balance h4 span{
  color: #0C2C52;
}

.list-item__created {
  color: #9CAAC6;
  font-size: 0.7rem;
  margin: 0.25rem 0;
  text-align: right;
  flex-grow: 1;
}
